#banner {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  filter: brightness(65%);
}

.job-openings h4 {
  color: rgb(120, 120, 120);  
}

.job-openings-holder-div {
  padding: 1rem 0;
}

.lead img {
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}