<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Careers Website</title>
</head>

<body>
  <div class="container">
    <header>
    <h1>Seme Careers</h1>
    <img id="banner" src="{{ url_for('static', filename='images/Home-page-pic.jpg') }}" alt="Home-Page-image">
      </header>
  
    <main>
      <section class="about-section">
        <h2>About Seme Job Portal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusantium, quisquam omnis nemo rem eius possimus ipsum quibusdam ex ad voluptatum dolore odio tenetur mollitia ut necessitatibus expedita consequuntur doloremque.</p>
      </section>
  
      <section class="job-openings">
        <h2>Open Positions</h2>
        <p>TODO - Show jobs here</p> 
      </section>

      <div class="contact-us-btn">
        <button>Contact Us</button>
      </div>
    </main>
  </div>
</body>
</html>